<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo và Search Box -->
    <div class="navbar-left">
      <div class="logo">
        <a href="#" class="logo-link">
          <img src="assets/images/icons/logo-light.png" alt="TechStore" class="logo-img">
          <span class="logo-text">TechStore</span>
        </a>
      </div>
      <div class="search-container">
        <form [formGroup]="searchForm">

          <div class="search-box">

            <input type="text" class="search-input" placeholder="Tìm kiếm điện thoại, laptop, phụ kiện..."
              formControlName="keyword" (keyup.enter)="onSearch()" (focus)="isSearching = true" (blur)="onBlur()">

            <button type="button" class="search-btn" (click)="onSearch()">
              <i class="ri-search-line"></i>
            </button>

          </div>

          @if (isSearching && pagedResult?.items?.length) {

          <div class="search-result">

            @for (product of pagedResult!.items; track product.id) {

            <div class="product-item" (click)="viewProductDetails(buildProductUrl(product))">

              <img [src]="product.mainImageUrl | fullImageUrl" [alt]="product.productName" class="product-image">

              <div class="product-info">

                <div class="product-name">
                  {{ product.productName }}
                </div>

                <div class="product-price">
                  {{ product.price | number:'1.0-0' }} đ
                </div>

              </div>

            </div>

            }

          </div>

          }

        </form>
      </div>
    </div>

    <!-- Navigation Links -->
    <div *ngIf="!device.isMobile()" class="navbar-right">
      <button class="nav-btn" (click)="openCategories()">
        <i class="bi bi-ui-checks-grid"></i>
        <span>Danh mục</span>
      </button>
      <button class="nav-btn" (click)="contact()">
        <i class="bi bi-telephone-forward-fill"></i>
        <span>1900.123.123</span>
      </button>
      <button *ngIf="!tks.isLoggedIn()" class="nav-btn login-btn" (click)="onLogin()">
        <i class="bi bi-person"></i>
        <span>Đăng nhập</span>
      </button>
      <button *ngIf="tks.isLoggedIn()" class="nav-btn login-btn" (click)="openCart()">
      
        <span class="cart-icon-wrapper ">
          <i class="bi bi-cart"></i>
      
          @if ((totalQuantity$ | async); as quantity) {
          @if (quantity > 0) {
          <span class="cart-badge">
            {{ quantity }}
          </span>
          }
          }
        </span>
      
        <span>Giỏ hàng</span>
      
      </button>
    </div>
  </div>
</nav>