<div class="wrapper">
    <div class="order-tabs-wrapper">
        <ul class="nav nav-pills arrow-navtabs nav-secondary gap-2" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" [class.active]="currentTab === 'allOrders'" (click)="changeTab('allOrders')" role="tab">
                    Tất cả ({{ allOrders.length }})
                </a>
            </li>
    
            <li class="nav-item" role="presentation">
                <a class="nav-link" [class.active]="currentTab === 'pending'" (click)="changeTab('pending')" role="tab">
                    Chờ xác nhận ({{ pendingOrders.length }})
                </a>
            </li>
    
            <li class="nav-item" role="presentation">
                <a class="nav-link" [class.active]="currentTab === 'processing'" (click)="changeTab('processing')"
                    role="tab">
                    Đang xử lý ({{ processingOrders.length }})
                </a>
            </li>
    
            <li class="nav-item" role="presentation">
                <a class="nav-link" [class.active]="currentTab === 'delivering'" (click)="changeTab('delivering')"
                    role="tab">
                    Vận chuyển ({{ deliveringOrders.length }})
                </a>
            </li>
    
            <li class="nav-item" role="presentation">
                <a class="nav-link" [class.active]="currentTab === 'completed'" (click)="changeTab('completed')" role="tab">
                    Hoàn thành
                </a>
            </li>
    
            <li class="nav-item" role="presentation">
                <a class="nav-link" [class.active]="currentTab === 'canceled'" (click)="changeTab('canceled')" role="tab">
                    Đã hủy
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div [hidden]="currentTab !== 'allOrders'" class="tab-pane active" id="allOrders" role="tabpanel">
            <div class="list-item">
                @for(order of allOrders; track order.id){
                <app-order-card [order]="order"></app-order-card>
                }
            </div>
        </div>
        <div [hidden]="currentTab !== 'pending'" class="tab-pane active" id="pending" role="tabpanel">
            <div class="list-item">
                @for(order of pendingOrders; track order.id){
                <app-order-card [order]="order"></app-order-card>
                }
            </div>
        </div>
         <div [hidden]="currentTab !== 'processing'" class="tab-pane active" id="processing" role="tabpanel">
            <div class="list-item">
                @for(order of processingOrders; track order.id){
                <app-order-card [order]="order"></app-order-card>
                }
            </div>
        </div>
        <div [hidden]="currentTab !== 'delivering'" class="tab-pane active" id="delivering" role="tabpanel">
            <div class="list-item">
                @for(order of deliveringOrders; track order.id){
                <app-order-card [order]="order"></app-order-card>
                }
            </div>
        </div>
        <div [hidden]="currentTab !== 'completed'" class="tab-pane active" id="completed" role="tabpanel">
            <div class="list-item">
                @for(order of completedOrders; track order.id){
                <app-order-card [order]="order"></app-order-card>
                }
            </div>
        </div>
        <div [hidden]="currentTab !== 'canceled'" class="tab-pane active" id="canceled" role="tabpanel">
            <div class="list-item">
                @for(order of canceledOrders; track order.id){
                <app-order-card [order]="order"></app-order-card>
                }
            </div>
        </div>
        <!--end tab-pane-->
    </div>
</div>