<nav class="mobile-menu">

  <a href="#" routerLinkActive="active">
    <span><i class="bi bi-house"></i></span>
    <small>Trang chủ</small>
  </a>

  <a routerLink="/category" (click)="openCategories()">
    <span><i class="bi bi-list"></i></span>
    <small>Danh mục</small>
  </a>

  <a routerLinkActive="active" (click)="contact()">
    <span><i class="bi bi-telephone"></i></span>
    <small>Liên hệ</small>
  </a>

  <a *ngIf="tks.isLoggedIn()" routerLinkActive="active" (click)="openCart()">
    <span class="cart-icon-wrapper ">
      <i class="bi bi-cart"></i>

      @if ((totalQuantity$ | async); as quantity) {
      @if (quantity > 0) {
      <span class="cart-badge">
        {{ quantity }}
      </span>
      }
      }
    </span>

    <small>Giỏ hàng</small>
  </a>

  <a *ngIf="!tks.isLoggedIn()" routerLinkActive="active" (click)="openLogin()">
    <span><i class="bi bi-person"></i></span>
    <small>Đăng nhập</small>
  </a>

</nav>