@if(cartItems$ | async; as cartItems) {
<div class="mb-3 p-2 bg-smoke shadow-sm ">
    <div class="d-flex justify-content-between">
        <p class="mb-0 fw-bold">GIỎ HÀNG</p>
        <div class="form-check">
            <input #cba class="form-check-input" id="cba" type="checkbox" (change)="selectAll(cba.checked)">
            <label class="form-check-label" for="cba">
                Chọn tất cả
            </label>
        </div>
        <a *ngIf="selectedItems$ | async as selectedItems" class="text-decoration-none text-primary cursor-pointer" (click)="remove()">Xoá
            {{selectedItems.length}} mục</a>
    </div>
</div>

<p *ngIf="cartItems.length == 0">Giỏ hàng của bạn rỗng! </p>

<div class="list-item">
    @for(product of cartItems; track product.id) {
    <div class="card mb-3 border-0 shadow-sm p-3">
        <div class="d-flex align-items-center justify-content-between flex-wrap">

            <div class="d-flex align-items-center flex-grow-1 me-3">
                <!-- Checkbox -->
                <div class="form-check me-3">
                    <input #cb class="form-check-input" type="checkbox" [checked]="(selectedItems$ | async)?.includes(product)"
                        (change)="toggleSelect(product)">
                </div>
                <!-- Hình ảnh sản phẩm -->
                <img [src]="product.mainImageUrl | fullImageUrl" alt="product" class="img-thumbnail rounded me-3"
                    style="width: 80px; height: 80px; object-fit: cover;">

                <!-- Thông tin sản phẩm -->
                <div>
                    <h6 class="fw-semibold mb-1 text-dark product-name"
                        (click)="viewProductDetails(buildProductUrl(product))">
                        {{ product.productName + ' - ' + product.variantName }}
                    </h6>
                    <small class="text-muted">
                        Phân Loại: <span class="text-dark fw-medium">{{product.optionName}}</span>
                    </small>
                </div>
            </div>

            <!-- Giá và số lượng -->
            <div class="d-flex align-items-center flex-wrap gap-4 mt-2  w-100 w-md-auto
               justify-content-center justify-content-md-end">

                <!-- Giá -->
                <div class="text-end">
                    <div *ngIf="product.salePrice != null" class="product-price">
                        <span class="current-price fw-bold text-danger">{{ product.price - product.salePrice |
                            thousandSeparator}}</span>
                        <span class="old-price text-muted text-decoration-line-through">{{ product.price }}</span>
                    </div>
                    <div *ngIf="product.salePrice == null" class="product-price">
                        <span class="current-price fw-bold text-danger">{{ product.price | thousandSeparator}}</span>
                    </div>
                </div>

                <!-- Nút tăng giảm số lượng -->
                <div class="input-group input-group-sm" style="width: 100px;">
                    <button class="btn btn-outline-secondary" type="button" (click)="decrease(product)">−</button>
                    <input type="text" class="form-control text-center" [value]="product.quantity" readonly>
                    <button class="btn btn-outline-secondary" type="button" (click)="increase(product)">+</button>
                    <div class="row quantity-text">
                        <span class="stock-text">Còn {{product.stock}} sản phẩm</span>
                    </div>
                </div>

                <div class="text-end">
                    <div class="fw-semibold text-danger">{{product.totalPrice | thousandSeparator}}₫</div>
                </div>
            </div>
        </div>
    </div>

    }
</div>
}

@if (selectedItems$ | async; as selectedItems) {
<div class="amount-section mb-3 p-3 shadow-sm rounded">
    <p class="amount-text mb-0 fw-bold">
        TỔNG TIỀN: <span class="text-danger">{{totalPrice$ | async | number | thousandSeparator}} ₫</span>
    </p>
    <button type="button" class="btn" (click)="createOrder()" [disabled]="selectedItems.length === 0">
        @if (selectedItems.length > 0) {
            Mua hàng ({{selectedItems.length}})
        } @else {
            Chọn sản phẩm để mua
        }
    </button>
</div>
}