<nav class="mobile-bar">

    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="home()">
        <span><i class="bi bi-house"></i></span>
        <small>Trang chủ</small>
    </a>

    <a routerLink="/user/cart" routerLinkActive="active" (click)="cart()">
        <span><i class="bi bi-cart"></i></span>
        <small>Giỏ hàng</small>
    </a>

    <a routerLink="/user/purchase" routerLinkActive="active" (click)="puchase()">
        <span><i class="bi bi-bag"></i></span>
        <small>Đơn hàng</small>
    </a>

    <a routerLink="/user/profile" routerLinkActive="active" (click)="infomation()">
        <span><i class="bi bi-person"></i></span>
        <small>Cá nhân</small>
    </a>

    <a routerLinkActive="active" (click)="logout()">
        <span><i class="bi bi-box-arrow-in-right"></i></span>
        <small>Đăng xuất</small>
    </a>

</nav>