// .product-card {
//   max-width: 50%;
// }

.product-grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
    gap:1rem;
}

@media (max-width: 478px) {
  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}

.btn-showmore {
  background-color: #e1edff;
  color: #3d83f6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 2vw;
  min-width: 250px;
  min-height: 50px;
  font-size: larger;

  border-radius: 30px;

  &:hover {
    background-color: #ccdffe;
    cursor: pointer;
  }
}