<nav class="mb-2 navbar" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <span class="me-3" (click)="goBack()">
            ← Quay lại |
        </span>

        @for (item of items; track item; let last = $last) {
            <li class="breadcrumb-item" [class.active]="last" [attr.aria-current]="last ? 'page' : null">

                @if (!last && item.url) {
                    <a [routerLink]="item.url">{{ item.label }}</a>
                } @else {
                    {{ item.label }}
                }

            </li>
        }
    </ol>
</nav>