

.register-modal {
    background-color: white;

}

.logo{
    max-width: 160px; 
    margin-bottom: 8px;
    margin-left: 110px;
    align-items: center;
}

.social-logo{
    width: 32px;
    margin: 0 8px;
}
