@use '../assets/scss/variables' as v;

:host {
    display: block;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    //background-color: $web-background-color; //#f8f9fa; #deedfc 
}

.main-content-wrapper {
    max-width: 1200px;
    margin-inline: auto;
    min-height: 100vh;
    padding-inline: 20px;
}

.main-content-wrapper.has-navbar {
    padding-top: v.$navbar-height;
    min-height: calc(100vh - v.$navbar-height);
}

@media (max-width: 768px) {

    .main-content-wrapper {
        padding-inline: 0;
    }

    .main-content-wrapper.has-navbar {
        padding-top: v.$navbar-height;
        min-height: calc(100vh - v.$navbar-height);
    }
}

.category-panel {
    top: v.$navbar-height;
}