<!-- <app-snow></app-snow> -->
<!-- <app-ember></app-ember> -->

<app-navbar *ngIf="uiState.navbarVisible$ | async" (toggleCategories)="toggleCategoryPanel()"></app-navbar>

<app-category-panel *ngIf="showCategories" [istoggleCategory]="istoggleCategory"
    (toggleCategories)="toggleCategoryPanel()">
</app-category-panel>

<div class="main-content-wrapper">
    <router-outlet></router-outlet>
</div>

<app-widget-panel *ngIf="uiState.widgetPanelVisible$ | async"></app-widget-panel>

<app-footer *ngIf="!device.isMobile()"></app-footer>

<app-mobile-menu *ngIf="uiState.mobileMenuVisible$ | async" (toggleCategories)="toggleCategoryPanel()"
    class="mobile-menu"></app-mobile-menu>