@use '../../../../assets/scss/variables' as v;

$border-radius: 18px;

.product-card {
  transition: all 0.3s ease;
  cursor: pointer;
  // border-color: rgb(117, 81, 170) !important;
  border-radius: $border-radius;
  max-width: 270px;
  box-shadow: 0 12px 18px rgba(0,0,0,0.08);
  // background-color: white;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15) !important;

    .product-image img {
      transform: scale(1.1);
    }
  }
}

.product-info {
  // background-color: v.$web-background-color;
  background-color: white;
  border-radius: 0 0 $border-radius $border-radius;
}

.product-image {
  height: 220px;
  /* hoặc giá trị phù hợp với giao diện của bạn */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: $border-radius $border-radius 0 0;
  //background-color: transparent;
}

.product-image img {
  max-width: 100%;
  max-height: 180px;
  object-fit: contain;
  margin: auto;
  display: block;
}

.product-image,
.product-title {
  cursor: pointer;
}

