
@if(!device.isMobile()) {
  <!-- <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb> -->
  <div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
        <app-sidebar ></app-sidebar>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-12">
      <!-- main content -->
       <router-outlet></router-outlet>
    </div>
  </div>
</div>
}
@else {
  <div class="container">
  <div class="row">
    <div>
        <app-sidebar *ngIf="uiState.showUserSidebar$ | async"></app-sidebar>
    </div>

    <div *ngIf="!(uiState.showUserSidebar$ | async)">
      <!-- main content -->
       <router-outlet></router-outlet>
    </div>
  </div>
</div>
}