<div class="login-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 p-4">
      <button type="button" class="btn-close btn-close-red ms-auto" (click)="close()"></button>
      <div class="text-center mb-3">
        <img src="assets/images/icons/logo-light.png" alt="Logo" class="logo">
        <h4 class="fw-bold mt-2 mb-3">Đăng nhập tài khoản</h4>
      </div>
      <form (ngSubmit)="submit()" [formGroup]="loginForm">
        <input type="text" class="form-control mb-3" placeholder="Email hoặc SĐT" formControlName="loginIdentifier"
           [class.is-invalid]="loginForm.get('loginIdentifier')?.invalid && loginForm.get('loginIdentifier')?.touched">
        <div class="position-relative mb-3">
          <input [type]="showPassword ? 'text' : 'password'" class="form-control pe-5" placeholder="Mật khẩu" formControlName="password" 
           [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <i class="bi show-password-icon" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePassword()"></i>
        </div>
        <label class="text-danger mb-2" *ngIf="loginfail"> Sai tên đăng nhập hoặc mật khẩu</label>
        <button type="submit" class="btn btn-danger w-100 mb-3">Đăng nhập</button>
      </form>
      <div class="d-flex align-items-center my-3">
        <hr class="flex-grow-1">
        <span class="mx-2 text-muted">Hoặc</span>
        <hr class="flex-grow-1">
      </div>
      <div class="d-flex justify-content-between mb-3 gap-2">
        <button type="button"
          class="btn btn-light social-btn flex-grow-1 d-flex align-items-center justify-content-center">
          <img src="assets/images/icons/google-icon-48.png" alt="Google" class="social-logo">
          Google
        </button>
        <button type="button"
          class="btn btn-light social-btn flex-grow-1 d-flex align-items-center justify-content-center">
          <img src="assets/images/icons/zalo-icon-48.png" alt="Zalo" class="social-logo">
          Zalo
        </button>
      </div>
      <div class="text-center mt-2">
        <span class="text-muted">Bạn chưa có tài khoản?</span>
        <a href="#" class="text-danger ms-1" (click)="openRegisterModal(); $event.preventDefault()">Đăng ký ngay</a>
      </div>
    </div>
  </div>
</div>